<template>
  <div>
    <Menu mode="horizontal" active-name="1">
      <MenuItem to="/">学校行き</MenuItem>
      <MenuItem to="/hatiouji">八王子駅行き</MenuItem>
      <MenuItem to="/minamino">みなみの行き</MenuItem>
    </Menu>
  </div>
</template>