<template>
  <div>
    <Table stripe :columns="columns" :data="items"></Table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
      columns: [
        {
          title: "時間",
          key: "time"
        },
        {
          title: "混雑状況",
          key: "data"
        }
      ]
    };
  },
  props: ["items"]
};
</script>
