<template>
  <div>
    <Icon />
    <my-header />
    <nuxt />
  </div>
</template>

<script>
import MyHeader from "~/components/Header.vue";
import Icon from "~/components/Icon.vue";

export default {
  name: "navbar",
  components: {
    MyHeader,
    Icon
  }
};
</script>
<style>
</style>

