<template>
  <div>
    <BusTable :items="data" />
  </div>
</template>

<script>
import firebase from "firebase";
import dayjs from "dayjs";
import BusTable from "~/components/Table.vue";

const db = firebase.firestore();
export default {
  components: {
    BusTable
  },
  data() {
    return {
      data: [],
      days: dayjs().format("YYYY-MM-DD")
    };
  },
  mounted() {
    db.collection("station")
      .doc(this.days)
      .collection("hatiouji")
      .get()
      .then(res => {
        res.forEach(doc => {
          this.data.push(doc.data());
          this.data.sort(function(a, b) {
            return a.time > b.time ? 1 : -1;
          });
        });
      });
  }
};
</script>

<style></style>
